body{
    background-color: #f5f5f5;
}

.form-login{
  width: 330px;
  padding-top: 15px;
  margin: 0 auto;
}
.form-login .form-control{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.form-login .form-control:focus{
  z-index: 2;
}

.form-login input[type:"text"]{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-login{
  margin-top: 90px;
  padding: 60px 0px 50px 0px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.16);
}

.titulo{
  color: black;
  font-size: 50px;
  font-style: oblique;
  font-family: 'Baloo Bhaijaan', cursive;
  font-family: 'Chewy', cursive;
}



#contenedor{
  width: 35%;
  height: 670px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 90%;
  -moz-border-radius: 90%;
  -o-boder-radius: 90%;
  -webkit-border-radius: 12px;
}

#caja-chat{
  width: 90%;
  height: 70%;
  overflow-y: auto;
  font-family: 'Arvo', serif;
}
#datos-chat{
  width: 110%;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid silver;
  font-weight: bold;
  font-family: 'Arvo', serif;

}
#btn-enviar{
  width: 50px;
  height: 49px;
  border: none;
  background-color: white;
  background-image: url(https://3.bp.blogspot.com/-VEiqBbokIDk/VP8_ceo8LFI/AAAAAAAABG4/HZbl6NFiRQ0/s1600/support15.6.png);
  background-size: 100%;
}
#mensaje{
  width: 70%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid gray;
  -moz-border-radius: 12px;
  -o-boder-radius: 5px;
  -webkit-border-radius: 5px;
}
#chat{
  width: 90%;
}
